<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TaskMaster-Er</title>
    <script src="https://use.fontawesome.com/f971beed2e.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div class="container">
      <h1 class="homeHeader">TASK MASTER-ER</h1><a href="/about"><span class="homeInfo"><i class="fa fa-info-circle"></i></a></span>
      <hr>
      <div class="row">
        <div class="col-md-6 homeRow">
          <span class="homeText">You have {{tasks}} TASKS.</span><br>
          <a class="btnHome" href="/tasks"><button class="btn-home btn btn-lg btn-primary">TASKS</button></a>
        </div>
        <div class="col-md-6 homeRow">
          <span class="homeText">You have {{todos}} TODOS.</span><br>
            <a class="btnHome" href="/todos"><button class="btn-home btn btn-lg btn-warning">TODOS</button></a>
        </div>

      </div>
      <br>
      <h3 class="dayHeader">It's {{today}}.  <br>
        There will be {{hours}} hours of <i class="fa  fa-spin fa-sun-o"></i> daylight today.</h3>
    </div>
  </body>
</html>
