<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Error!</title>
  </head>
  <body>
    <h1>Something went sour</h1>
    <p><a href="/">Click here to return to the task-masterer page.</a></p>
  </body>
</html>
