{{> header}}
    <h1>BIG TASKS:</h1>
    <div class="task-list">
      <ul id="taskUl">
        {{#each tasks}}
        <li>
          <h2>{{title}} - <a href="/tasks/{{_id}}">
            <button class="btn btn-success"><i class="fa fa-pencil"></i></button>
          </a></h2>

          <div class="progress">
            <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">{{title}}</div>
          </div>
        </li>

        {{/each}}
      </ul>
    </div>
{{> footer}}
