{{> header}}
    <h1>Welcome to Task-Master-Er</h1>
    <div class="task-list">
      <ul>
        {{#each tasks}}
        <li>{{title}}</li><a href="/task-masterer/{{_id}}">TASK IT</a>
        {{/each}}
      </ul>
    </div>
  </body>
</html>
