<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title>User Database</title>
      <script
      src="http://code.jquery.com/jquery-3.2.1.js"
      integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
      crossorigin="anonymous"></script>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="https://use.fontawesome.com/f971beed2e.js"></script>
      <link rel="stylesheet" href="/css/styles.css">

    </head>
    <body>

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">
              <i class="fa fa-arrow-left" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3>REGISTER</h3>
          <form class="" action="/users" method="post">
            USERNAME: <br><input type="text" name="username" value="" placeholder="Username"><br>
            E-MAIL: <br><input type="text" name="email" value="" placeholder="e-mail"><br>
            PASSWORD: <br><input type="text" name="password" value="" placeholder="password"><br>
            <button type="submit" name="button">SUBMIT</button>
          </form>

        </div>
        <div class="col-md-6">
          <h3>Current USERS:</h3>
          <ul>
          {{#each usernames}}
            <li>{{username}}</li>
          {{/each}}
        </ul>
        </div>
      </div>

    </div>

  </body>
  </html>
