

#taskUl {
  list-style: none;
}
/* HOME PAGE STYLES */

.homeHeader, .homeRow {
  text-align: center;
  font-size: 64px;
}
.btnHome, .btnHome:hover {
  color: white;
  text-decoration: none;
}
.homeText {
  font-size: 48px;
}
.btnHome .btn {

}



/* PROGRESS BAR STYLES  */
.progress {
  width: 50%;
  text-align: center;
  position: relative;
}
.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
 }

 /* INDIVIDUAL TASK BUTTONS */
 .btn-customStart, .btn-customEdit, .btn-customDelete {
   display: block;
   width: 50%;
 }

 /* MODAL STYLING */

 .modal-form {
   padding: 20px;
 }
 .modal-paragraph {
   text-align: center;
 }
 .modal-edit {
   margin-top: 20px;
 }

 /* NOTES STYLES */
 .note-zone {
   border-left: 1px solid black;
 }
 #noteBody{
   width: 100%;
 }

 /* TODOS STYLES */

 .btn-danger {
   background-color: #ff9900;
   color: white;
   border: 1px solid #ff9900;
 }
 .btn-danger:hover {
   background-color: #663d00;
   border: 1px solid #663d00;
 }
 .btn-primary {
   background-color: darkgreen;
 }

 .btn-primary:hover {
    color: #fff;
    background-color: green;
    border-color: #204d74;
}
 .todoTitle, .todoDate, .todoCompleted {
   display: inline;
   padding-right: 20px;
 }
 .todoDate {
   border-right: 1px solid #333;
 }
 .todos {
   padding: 10px;
   border-bottom: 1px solid #333;
   color: white;
   border-radius: 10px;
 }
.btn-Submit {
  margin-right: 10px;
  background-color: white;
  color: #333;
  width: 110px;
  text-align: center;
  border: none;
}
 .btn-todoDelete {
   float: right;
   padding: 5px;
   width: 100px;
 }
 .todoForm {
   display: inline;
 }
 .completedIcon {
   margin-right: 30px;
   display: inline;
 }
